@using MovieApplication.Application.Entidade
@model Movie

<form method="post" asp-controller="Movie" asp-action="Save">
    <div class="form-group">
        <label for="exampleInputEmail1">Título</label>
        <input type="text" class="form-control" asp-for="Title">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Genêro</label>
        <input type="text" class="form-control"  asp-for="Genre">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Data de Lançamento</label>
        <input type="text" class="form-control" asp-for="ReleaseDate">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Preço</label>
        <input type="number" class="form-control" asp-for="Price">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Descrição</label>
        <textarea class="form-control" asp-for="Description"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Salvar Filme</button>
</form>
