@using MovieApplication.Entidade
@model Movie

<form method="post" asp-controller="Movie" asp-action="Save">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label for="exampleInputEmail1">Título</label>
        <input type="text" class="form-control" asp-for="Title">
        <span asp-validation-for="Title"></span>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Genêro</label>
        <input type="text" class="form-control" asp-for="Genre">
        <span asp-validation-for="Genre"></span>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Data de Lançamento</label>
        <input type="text" class="form-control" asp-for="ReleaseDate">
        <span asp-validation-for="ReleaseDate"></span>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Preço</label>
        <input type="number" class="form-control" asp-for="Price">
        <span asp-validation-for="Price"></span>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Descrição</label>
        <textarea class="form-control" asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>
    </div>

    <button type="submit" class="btn btn-primary">Salvar Filme</button>
</form>
