@model MovieApplication.Application.Entidade.Movie

<h1>@Model.Title</h1>
<br />
<h2>Data de Lancamento: @Model.ReleaseDate</h2>
<br />
<h2>Genero: @Model.Genre</h2>
<br />
<h3>@Model.Description</h3>
