@{ 
    Layout = "~/Views/Shared/_LayoutNaoLogado.cshtml";
}

<h2>
    Caminho do Layout utilizado:@Layout.ToString()
</h2>

@{

    for (int i = 0; i < 10; i++)
    {
        if (i % 2 == 0)
        {
            <span>@i é par</span>
            <br />
        }
        else
        {
            <span>@i é impar</span>
            <br />
        }
    }
}
<strong>
    @{
        var texto = "isso é um texto em razor";
    }
    @String.Format($"{texto}")
</strong>

